.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

:root {
	--ourColor: linear-gradient(
		90deg,
		rgba(22, 112, 46, 1) 32%,
		rgba(27, 195, 136, 1) 61%,
		rgba(255, 255, 255, 1) 100%
	);
	--white: #ffffff;
}
.App {
	font-family: sans-serif;
	text-align: center;
}

.wrapper {
	height: 300px;
	position: relative;
}
.graphContainer {
	height: 300px;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 0;
}

.secondGraph {
	height: 300px;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 4;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
